.place__text {
  max-width: 462px;
}


@media screen and (max-width: 320px) {
  .place__text {
    padding: 0 16px;
  }
}
@media screen and (min-width: 321px) and (max-width: 381px) {
  .place__text {
    padding: 0 16px;
  }
}
