.cover__background {
  display: flex;
  text-decoration: none;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.cover__background:hover {
  background: #2a2c2f;
  opacity: 0.8;
}
